body {
  color: #BBDAE1; 
  background-color:#303C5A;
}

h1{
  text-align: center;
}

table {
  width: 400px;
    text-align: center;
}

table,
th,
td {
  border: 1px solid #bbdae1;
}

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 0, 43);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(253, 6, 225);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}