body {
  color: #303c5a;
  background-color: #bbdae1;
}

h1 {
  text-align: center;
}

table {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: thin solid #303c5a;
}

a:link {
  color: #303c5a;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 0, 43);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(253, 6, 225);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
